#!/usr/bin/env bash

# This be me file for alises that make me smile.

# Shortcuts for vertical folder navigation.
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

# Shortcuts direct to key folders.
alias db="cd ~/Dropbox"
alias wr="cd ~/Dropbox/WritingProjects"
alias dral="cd ~/Dropbox/Website/dralexnorman/"
alias mres="cd ~/Dropbox/MRes/mres\ shared\ folder/\#\ UNITS"

# Shortcuts to programs or functions of interest.
alias v="vim"
alias l="ls -al"

# Print each PATH on a new line for ease of reading.
alias path="echo -e ${PATH//:/\\n}"

# Shortcuts for dotfiles of interest.
alias cfv="vim ~/Dropbox/Website/dralexnorman/content/post/2018-07-07-a-literate-vimrc.md" # .vimrc
alias cfa="vim ~/.dotfiles/.aliases" # bash aliases
alias cfbp="vim ~/.dotfiles/.bash_prompt" # bash prompt config
